{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}

    {% if users %}
        <hr>

        <table class="table">
            <thead>

            <tr>
                <th scope="col">Username</th>
                <th scope="col">Birthday</th>
                <th scope="col">Random Number</th>
            </tr>

            </thead>

            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a class="nav-link disabled" href={% url 'user-detail' pk=user.pk %}>{{ user.username }}</a>
                    </td>

                    <td> {{ user.birthday }} </td>

                    <td> {{ user.random_number }} </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    {% else %}

        <p> No added users</p>

    {% endif %}

{% endblock %}
