{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load custom_tags %}
{% block content %}

    <a class="btn btn-primary" href={% url 'user-create'%}>Add new user</a>
    <hr>

    {% if users %}
        <table class="table">
            <thead>

            <tr>
                <th scope="col">Username</th>
                <th scope="col">Birthday</th>
                <th scope="col">Eligible</th>
                <th scope="col">Random Number</th>
                <th scope="col">BizzFuzz</th>
            </tr>

            </thead>

            <tbody>

            {% for object in object_list %}
                <tr>
                    <td>
                        <a class="nav-link disabled" href={% url 'user-detail' pk=object.pk %}>{{ object.username }}</a>
                    </td>

                    <td> {% format_date object.birthday %} </td>

                    <td> {% check_age object.get_user_age %} </td>

                    <td> {{ object.random_number }} </td>

                    <td> {% bizz_fuzz object.random_number %} </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

    {% else %}

        <p> No added users</p>

    {% endif %}

{% endblock %}
